<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit Journal</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <main class="container">
      <h1>Edit Journal</h1>

      <form action="/journals/<%= journal._id %>?_method=PUT" method="POST">
        <label for="title">Title:</label>
        <input type="text" name="title" value="<%= journal.title %>" required />

        <label for="description">Description:</label>
        <textarea name="description"><%= journal.description %></textarea>

        <button type="submit">Save Changes</button>
      </form>

      <a href="/journals/<%= journal._id %>/edit">Edit Journal</a>

      <form action="/journals/<%= journal._id %>?_method=DELETE" method="POST">
        <button type="submit" class="button small">Delete Journal</button>
      </form>

      <a href="/journals" class="button"> Back to Journals</a>

      <a href="/journals/<%= journal._id %>" class="button">Cancel</a>
    </main>
  </body>
</html>
