<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Entry</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <main class="container">
      <% if (user) { %>
      <nav>
        <a href="/auth/sign-out" class="button">Sign out</a>
      </nav>
      <% } %>

      <h1><%= entry.title %></h1>
      <p><%= entry.content %></p>

      <% if (entry.mood) { %>
      <p>Mood: <%= entry.mood %></p>
      <% } %>

      <small>Created on <%= entry.createdAt.toDateString() %></small>

      <div>
        <a href="/journals/<%= entry.journalId %>" class="button"
          >Back to Journal</a
        >
        <a href="/entries/<%= entry._id %>/edit" class="button">Edit Entry</a>
      </div>
    </main>
  </body>
</html>
